# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Build folders
build/
dist/

# PyInstaller
*.spec

# Executables
*.exe

# Installer
*.msi

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
Thumbs.db
.DS_Store